<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Infrastructure as Code</title>
    </head>
           Bienvenu dans notre site Automatisation de l'Infra! Joyeux Noel & Meulleurs voeux
           
    <body style="background-color:silver;">
       <h1> {{$HOSTNAME}} </h1>
       <p style="color:#FF0000";>Merci de votre participation à ce Workshop HCE sur la Haute disponibilité des Infrastructures Web</p>
       <p style="color:#FF0000";>Bonne fin d'année, Bonana 2022 </p>
    </body>
</html>
